{% load compress %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Article Create </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"
          type="text/css">


    {% compress js %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

</head>
<body>
<h2 class="text-center">Create Article </h2>

<div class="container article">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="form_article_title">Article Title *</label>
                <input id="form_article_title" type="text" name="name" class="form-control"
                       placeholder="Please enter Article Title" required="required"
                       data-error="Article Title is required.">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="form_article_user">Article User Name *</label>
                <input id="form_article_user" type="text" name="name" class="form-control"
                       placeholder="Please enter User Name" required="required"
                       data-error="Article User is required.">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label for="form_article_content">Article Content</label>
                <textarea class="form-control" rows="20" id="form_article_content"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" onclick="post_article();">Create</button>

</div>
</body>
</html>