{% load compress %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Article List </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"
          type="text/css">
</head>
<body>
<h2 class="text-center"> Article Listing </h2>

<div class="container article">
    <strong>
        <div class="col-sm-12">
            <div class="col-sm-8">ARTICLE TITLE</div>
            <div class="col-sm-2">VOTE NO.</div>
            <div class="col-sm-2"> UPDATE VOTE</div>

        </div>
    </strong>
</div>
</body>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/article/set/",
            method: "GET",
            dataType: 'json',
            success: function (results) {
                console.log(results);
                populate_article_list(results);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
</html>